.node {
  width: 2vw;
  height: 4vh;
  margin-bottom: -3px;
  margin-top: -3px;
  margin-right: 0.5px;
  margin-left: 0.5px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-table;
  /*line-height:3px;*/
}

.node-finish {
  background-image: url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-start {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image:url(triangletwo-right.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: endNodes;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/*@keyframes endNodes {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
} */

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited-simple {
  background-color: rgba(0, 190, 218, 0.75);  
}

.node-visited-start {
  background-image:url(triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited-start-simple {
  background-image:url(triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 190, 218, 0.75);  
}

.node-visited-finish {
  background-image:url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited-finish-simple {
  background-image:url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 190, 218, 0.75);  
}

.node-visited-weight {
  background-image:url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited-weight-simple {
  background-image:url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 190, 218, 0.75);
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  animation-name: mazePath;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;  
}

.node-weight {
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: mazePath;
}

.node-maze-path {
  animation-name: mazePath;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes mazePath {
  0% {
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
    outline: 0.9px solid rgb(12, 53, 71);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 1px solid rgb(255, 254, 106);
}

.node-shortest-path-start{
  background-image:url(triangletwo-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 1px solid rgb(255, 254, 106);
}

.node-shortest-path-finish{
  background-image:url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 1px solid rgb(255, 254, 106);
}

.node-shortest-path-simple {
  background-color: rgb(255, 254, 106);
  outline: 1px solid rgb(255, 254, 106);
}

.node-shortest-path-start-simple{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: 1px solid rgb(255, 254, 106);
  background-color: rgb(255, 254, 106);
  background-image:url(triangletwo-right.svg);
  
}

.node-shortest-path-finish-simple{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(255, 254, 106);
  outline: 1px solid rgb(255, 254, 106);
  background-image:url(circle.svg);
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}